---
interface Props {
    class: string;
    entry: any;
    title: string;
    url: string;
    published: Date;
    tags: string[];
    category: string;
    image: string;
    description: string;
    words: number;
    draft: boolean;
    style: string;
}
const { entry, title, url, published, description, style } = Astro.props;
const className = Astro.props.class;

const { remarkPluginFrontmatter } = await entry.render();

// Format date as YYYY-MM-DD
const formattedDate = published.toISOString().slice(0, 10);
---
<a href={url}
   class:list={["card-base block p-6 md:p-8 transition hover:bg-[var(--btn-card-bg-hover)] active:bg-[var(--btn-card-bg-active)]", className]}
   style={style}>
    <h2 class="font-bold text-xl md:text-2xl text-90 mb-2 transition">
        {title}
    </h2>
    <p class="text-75 mb-3 text-sm md:text-base transition">
        {description}
    </p>
    <div class="text-xs md:text-sm text-black/40 dark:text-white/40 transition">
        {remarkPluginFrontmatter.words} words · {remarkPluginFrontmatter.minutes} min · {formattedDate}
    </div>
</a>
